<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="log\nlog-internal.log">
  <extensions>
    <add assembly="NLog.Extensions.Logging"/>
  </extensions>
  
  <targets>
    <target xsi:type="Debugger" name="debugger"
          layout="${date} [${uppercase:${level}}] [${threadid}] ${message} - ${callsite} [${logger}]  " />

    <!-- write to file -->
    <target xsi:type="File" name="file"
                fileName="log\GUI.log"
                layout="${longdate}|${uppercase:${level}}|${event-properties:item=EventId_Id}|${logger}|${message} ${exception:format=tostring}|client: ${aspnet-request-ip}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}"
                maxArchiveFiles="15"
                archiveNumbering="Sequence"
                archiveAboveSize="31457280"
                concurrentWrites="true"
                encoding="utf-8"/>
  </targets>

  <rules>
    <logger name="System.*" finalMinLevel="Warn" />
    <logger name="Microsoft.*" finalMinLevel="Warn" />
    <logger name="Radzen.Blazor*" finalMinLevel="Warn" />
    <logger name="*" minlevel="Trace" writeTo="debugger, file" />
  </rules>

</nlog>