@page "/countlkwmonth"

<div class="container">
    <div class="row">
        <div class="col-3">
            <RadzenDatePicker @bind-Value="_startTime" ShowTime="false" DateFormat="dd.MM.yyyy" />
        </div>
        <div class="col-3">
            <RadzenDatePicker @bind-Value="_endTime" ShowTime="false" DateFormat="dd.MM.yyyy" />
        </div>
        <div class="col-3">
            <RadzenButton Text="LadeDaten" Click="LoadData"/>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <RadzenChart>
                <RadzenColumnSeries Data="@_data" CategoryProperty="Date" Title="Anzahl Lkws" LineType="LineType.Dashed" ValueProperty="Count">
                    <RadzenSeriesDataLabels Visible="true" />
                </RadzenColumnSeries>
                <RadzenColumnOptions Radius="2" Width="20" />
            </RadzenChart>
        </div>
    </div>
</div>