@page "/Auswertungen"

<div>
    <RadzenCard>
        <CGateMetricsGui.Components.Diagramms.WeightSeries />
    </RadzenCard>
</div>

<div class="pt-2">
    <RadzenCard>
        <CGateMetricsGui.Components.Diagramms.CountLkwPerMonth />
    </RadzenCard>
</div>