@page "/Auswertung2"
<div class="container">


    <RadzenCard class="rz-background-color-base-100 rz-shadow-20 rz-border-radius-5 rz-p-8 rz-border-base-800" Variant="Variant.Outlined">

        <RadzenCard class="rz-background-color-base-100 rz-shadow-20  " Variant="Variant.Flat">
            <RadzenRow JustifyContent="JustifyContent.Center">
                <RadzenDatePicker @bind-Value="_startTime" ShowTime="false" DateFormat="dd.MM.yyyy" />
                <RadzenDatePicker @bind-Value="_endTime" ShowTime="false" DateFormat="dd.MM.yyyy" />
                <RadzenButton Text="LadeDaten" Click="LoadData" />
            </RadzenRow>
        </RadzenCard>

        <RadzenCard class="rz-background-color-base-100 rz-border-radius-0" Variant="Variant.Flat">
            <RadzenRow JustifyContent="JustifyContent.Center">
                <RadzenText TextStyle="TextStyle.H3">Gewichtsverlauf Einfahrende Lkws</RadzenText>
            </RadzenRow>
            <CGateMetricsGui.Components.Diagramms2.WeightSeries2 Data="@_weightDataItemList" />
        </RadzenCard>

        <RadzenCard class="rz-background-color-base-100 rz-border-radius-0 " Variant="Variant.Flat">
            <RadzenRow JustifyContent="JustifyContent.Center">
                <RadzenText TextStyle="TextStyle.H3">Anzahl Lkws pro Tag</RadzenText>
            </RadzenRow>
            <CGateMetricsGui.Components.Diagramms2.CountLkw2 Data="@_countLkwMonthList" />
        </RadzenCard>

    </RadzenCard>

    <RadzenRow class="rz-pt-5" />

    <RadzenCard class="rz-background-color-base-100 rz-shadow-20 rz-border-radius-5 rz-p-8 rz-border-base-800" Variant="Variant.Outlined">
        <RadzenCard class="rz-background-color-base-100 rz-border-radius-0 rz-p-8" Variant="Variant.Flat">
            <RadzenRow JustifyContent="JustifyContent.Center">
                <RadzenText TextStyle="TextStyle.H3">Anzahl Buchungen pro Standort</RadzenText>
            </RadzenRow>
            <CGateMetricsGui.Components.Diagramms2.BookingsOnLocation Data="@_bookingCountOfLocationList" />
        </RadzenCard>
    </RadzenCard>

    <RadzenRow class="rz-pt-5" />

    <RadzenCard class="rz-background-color-base-100 rz-shadow-20 rz-border-radius-5 rz-p-8 rz-border-base-800" Variant="Variant.Outlined">
        <RadzenCard class="rz-background-color-base-100 rz-border-radius-0 rz-p-8" Variant="Variant.Flat">
            <RadzenRow JustifyContent="JustifyContent.Center">
                <RadzenText TextStyle="TextStyle.H3">Overload LKWs</RadzenText>
            </RadzenRow>
            <CGateMetricsGui.Components.Diagramms.OverloadPercent />
        </RadzenCard>
    </RadzenCard>

    <div class="row pt-5" />
</div>

@code {

}
