@page "/Fahrzeuge"


<h3>Fahrzeuge</h3>

<PageTitle>Fahrzeuge</PageTitle>


@code
{
    void ShowTooltip(ElementReference elementReference, TooltipOptions options = null) => TooltipService.OpenOnTheTop(elementReference, "Hier können Sie die Fahrzuege einfügen!", options);

}

@inject TooltipService TooltipService


@inject DialogService DialogService



<div class="rz-p-10 rz-text-align-left">
    <RadzenLink Icon="home" Path="https://localhost:7213/" Text="Go to HomePage" />
  
</div>
<div class="rz-p-10 rz-text-align-left">

    <RadzenLink Icon="analytics" Path="https://localhost:7213/Auswertung2" Text="Go to Auswertungen" />
</div>


<RadzenRow class="rz-text-align-left rz-border-white" Gap="1rem">
    <RadzenColumn class="rz-background-color-white rz-color-on-info-lighter rz-p-5">
        <RadzenButton Click="@CreateNewFahrzeug" Text="Create" ButtonStyle="ButtonStyle.Info" MouseEnter="@(args => ShowTooltip(args))"/>
    </RadzenColumn>
</RadzenRow>




<RadzenDataGrid @ref="_fahrzeugGrid" AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.SimpleWithMenu" AllowSorting="true" PageSize="10" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                Data="@_fahrzeug" TItem="CGateMetricsData.Models.Fahrzeug" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or">
    <Columns>
        <RadzenDataGridColumn TItem="CGateMetricsData.Models.Fahrzeug" Property="Fahrgestellnummer" Title="Fahrgestellnummer" Frozen="true" Width="160px" />
        <RadzenDataGridColumn TItem="CGateMetricsData.Models.Fahrzeug" Property="Hersteller" Title="Hersteller" Width="160px" />
        <RadzenDataGridColumn TItem="CGateMetricsData.Models.Fahrzeug" Property="Kennzeichen" Title="Kennzeichen" Width="200px" />
        <RadzenDataGridColumn TItem="CGateMetricsData.Models.Fahrzeug" Property="ZulGesamtGewicht" Title="ZulGesamtGewicht" Width="120px" />
    
        <RadzenDataGridColumn TItem="CGateMetricsData.Models.Fahrzeug" Width="160px" Filterable="false" Sortable="false">
            <Template Context="item">
                <RadzenButton Click=@(args => EditButton(@item)) Text="Edit" ButtonStyle="ButtonStyle.Warning" />
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="CGateMetricsData.Models.Fahrzeug" Width="160px" Filterable="false" Sortable="false">
            <Template Context="item">
                <RadzenButton Click=@(args => DeleteButton(@item)) Text="Delete" ButtonStyle="ButtonStyle.Danger" />
            </Template>
        </RadzenDataGridColumn>

    </Columns>
</RadzenDataGrid>