@page "/"

<PageTitle>Home</PageTitle>




<RadzenStack AlignItems="AlignItems.Center" Class="rz-mx-auto rz-my-12">

    <RadzenImage Path="https://upload.wikimedia.org/wikipedia/de/b/b8/Continental_AG_logo.svg" Style="width: 65rem;" />

</RadzenStack>


<RadzenHtml>
<body>

<div class="myDiv">
            <h1 align="middle"> GATE METRICS SYSTEM</h1>

</div>

</body>


</RadzenHtml>

