@using CGateMetricsGui.Models;
<RadzenChart>
    <RadzenDonutSeries Data="@Data" CategoryProperty="Location" ValueProperty="Count">
        <ChildContent>
            <RadzenSeriesDataLabels Visible="true" />
        </ChildContent>
        <TitleTemplate>
            <div class="rz-donut-content">
                <div>Buchungen</div>
            </div>
        </TitleTemplate>
    </RadzenDonutSeries>
</RadzenChart>

@code {
    [Parameter] public List<BookingCountOfLocation> Data { get; set; }
}